langchain-mcp-adapters
nest_asyncio
elevenlabs
fastapi
uvicorn
langchain
langgraph
openai
tiktoken
requests
langchain-community 
langchain-core
Pillow
pyttsx3
langchain-ollama
diffusers
torch
safetensors
huggingface_hub
torchaudio
peft
langchain-google-genai
transformers
huggingface-hub
spaces
accelerate
omegaconf
insightface==0.7.3

# git+https://github.com/TencentARC/PhotoMaker.git
langchain-huggingface 
sentence-transformers
google-genai
qdrant-client
langchain_qdrant
# pymupdf
# pdfminer.six
docling