langchain-mcp-adapters
nest_asyncio
# add mcp adapters dependency if missing
fastapi
uvicorn
langchain
langgraph
openai
tiktoken
requests
langchain-community 
langchain-core
Pillow
pyttsx3
langchain-ollama
diffusers
transformers
torch
accelerate
safetensors
huggingface_hub
torchaudio
peft
langchain-google-genai



diffusers
transformers
huggingface-hub
spaces
accelerate
safetensors
omegaconf
peft
insightface==0.7.3

git+https://github.com/TencentARC/PhotoMaker.git


google-genai

